*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}


header{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.navbar{
    max-width: 1320px;
    margin: auto;
    
    padding: 10px;

    display: flex;
    justify-content: space-between;

}
.nav{
    padding: 10px;
}

.nav a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.863);
    padding: 5px 10px;
    border-radius: 5px;

}

.nav button{
    padding: 5px 10px;
    background-color: orange;
    color: white;
    border-radius:5px;
    border: none;
    font-weight: 600;
}

.nav a:hover{
    background-color: gainsboro;
    color: black;
}




/* features section  */


.features{
    max-width: 1320px;
    margin: auto;
}

.feature-card{
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: 1px solid red;
    padding: 20px;
    width: 25%;
}


.card-data{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.card-data img{
    width: 100%;
}











/* flex pratice */

.container{
    border: 1px solid green;
    max-width: 1320px;
    margin:50px auto;

}

.flex-wrap{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
}

.flex1{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex2{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.flex3{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex4{
    height: 600px;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex5{
    height: 600px;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.flex6{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 10px;
}


.box{
    height: 200px;
    width: 200px;
    background-color: gainsboro;
    border: 1px solid white;
}